.avatar_img{
    height: 100px;
    width: 100px;
}
.flip-card {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    max-height: 350px;
    max-width: 350px;
    border-radius: 3px;
    box-shadow: 3px 3px 5px black; 
}
  